@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

/* variables */

:root {
   --title-font: 'Poppins', sans-serif;
   --hue: 345; /* Change site color */
   --primary-color: hsl(var(--hue), 100%, 60%);
   --secondary-color: hsl(var(--hue), 88%, 72%);
   --alt-color: hsl(var(--hue), 57%, 53%);
   --body-color: hsl(0, 0%, 98%);
   --text-color: hsl(0, 0%, 46%);
   --text-color-light: hsl(0, 0%, 98%);
   --title-color: hsl(var(--hue), 41%, 10%);
   --gap: 2rem;
   --header-height: 4.5rem;
   --title-font-size: 1.875rem;
   --subtitle-font-size: 1rem;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   overflow-y: scroll;
   margin: 0;
   font: 400 1rem 'DM Sans', sans-serif;
   color: var(--text-color);
   background: var(--body-color);
   -webkit-font-smoothing: antialiased;
}

.title,
h1,
h2,
h3,
h4,
h5,
h6 {
   font: 700 var(--title-font-size) var(--title-font);
   color: var(--title-color);
   -webkit-font-smoothing: auto;
}

/* general styles */

.container {
   padding: 0 1.5rem;
}

.logo {
   font: 700 1.3125rem var(--title-font);
   color: var(--title-color);
}

.logo span {
   color: var(--primary-color);
}

img {
   width: 100%;
   height: auto;
}

.section {
   padding: calc(5rem + var(--header-height)) 0;
}

.section .subtitle {
   font-size: var(--subtitle-font-size);
}

.divider-1 {
   height: 1px;
   background: linear-gradient(
      270deg,
      hsla(var(--hue), 36%, 57%, 1),
      hsla(var(--hue), 65%, 88%, 0.34)
   );
}

.divider-2 {
   height: 1px;
   background: linear-gradient(
      270deg,
      hsla(var(--hue), 65%, 88%, 0.34),
      hsla(var(--hue), 36%, 57%, 1)
   );
}

/* header styles */

.header {
   border-bottom: 1px solid #e4e4e4;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 100;
   background: var(--body-color);
}

.header.scroll {
   box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: var(--header-height);
   width: 100%;
   position: relative;
}

.icon-menu {
   position: absolute;
   top: 1.5rem;
   right: 1.5rem;
}

nav .menu {
   opacity: 0;
   visibility: hidden;
   top: -100%;
   transition: top 0.2s ease-in-out;
}

nav.show .menu {
   opacity: 1;
   visibility: visible;
   background: var(--body-color);
   height: 100vh;
   width: 100vw;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
}

nav .menu__list a {
   transition: color 0.2s;
   position: relative;
}

nav .menu__list a:hover {
   color: var(--primary-color);
}

nav .menu__list a::after {
   content: '';
   width: 0;
   height: 2px;
   background: var(--primary-color);
   position: absolute;
   bottom: -1.5rem;
   left: 0;
   transform-origin: left;
   transition: width 0.2s ease-in-out;
}

nav .menu__list a:hover::after {
   width: 100%;
}

nav.show .menu__list {
   --gap: 4rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: var(--gap);
   height: 100%;
}

.toggle {
   color: var(--primary-color);
   font-size: 1.5rem;
   cursor: pointer;
}

nav .icon-close {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   top: -1.5rem;
   right: 1.5rem;
   z-index: 1001;
   transition: 0.2s;
}

nav.show .icon-close {
   visibility: visible;
   opacity: 1;
   top: 1.5rem;
}

/* main styles */

/* home */

.main__home {
   text-align: center;
   overflow: hidden;
}

.home__img {
   position: relative;
   right: 2.93rem;
}

.home__img-container {
   position: relative;
   margin-bottom: 2rem;
}

.home__img-container::before {
   position: absolute;
   content: '';
   background: var(--secondary-color);
   height: 100%;
   width: 100%;
   top: -16.8%;
   right: -16.7%;
   z-index: -1;
}

.home__img,
.home__img-container::before {
   border-radius: 4px;
}

.home__title {
   margin-bottom: 1rem;
}

.home__desc {
   color: grey;
   margin-bottom: 1rem;
}

.btn {
   display: inline-flex;
   align-items: center;
   color: var(--text-color-light);
   background-color: var(--primary-color);
   height: 3.5rem;
   padding: 0 2rem;
   border-radius: 0.25rem;
   font-weight: 500;
}

.btn:hover {
   background: var(--alt-color);
   transition: background 0.3s;
}

/* about styles */

.about__text {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.main__about {
   overflow: hidden;
   background: white;
}

.about__img {
   position: relative;
}

.about__img-container {
   position: relative;
   margin-bottom: 2rem;
}

.about__img-container::before {
   position: absolute;
   content: '';
   background: var(--secondary-color);
   height: 100%;
   width: 100%;
   top: -8.3%;
   left: -33%;
}

.about__img,
.about__img-container::before {
   border-radius: 4px;
}

/* services style */

.services__header {
   --gap: 1rem;
   display: flex;
   flex-direction: column;
   gap: var(--gap);
   margin-bottom: 4rem;
}

.services__header span {
   color: var(--primary-color);
   font-weight: 700;
}

.cards {
   --gap: 1.5rem;
   display: flex;
   flex-direction: column;
   gap: var(--gap);
}

.services__card {
   text-align: center;
   padding: 3.625rem 2rem;
   box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
   border-bottom: 0.25rem solid var(--primary-color);
   border-radius: 0.25rem 0.25rem 0 0;
}

.services__card i {
   display: block;
   margin-bottom: 1.5rem;
   font-size: 5rem;
   color: var(--primary-color);
}

.card__title {
   font-size: 1.5rem;
   margin-bottom: 0.75rem;
}

/* testimonials style */

.main__testimonials {
   background: white;
}

.testimonials__header {
   padding-right: 4.25rem;
}

.main__testimonials blockquote {
   padding: 2rem;
   box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
   border-radius: 0.25rem;
}

.main__testimonials blockquote p {
   position: relative;
   text-indent: 1.875rem;
   margin-bottom: 1.5rem;
   color: var(--title-color);
}

.main__testimonials blockquote p span {
   font: 700 2.5rem serif;
   position: absolute;
   top: -0.5rem;
   left: -1.875rem;
   color: var(--primary-color);
}

.main__testimonials cite {
   display: flex;
   align-items: center;
   gap: 0.5rem;
}

.main__testimonials cite img {
   border-radius: 50%;
   width: 2rem;
   height: auto;
}

/* swiper */

.swiper-slide {
   height: auto;
   padding: 4rem 1rem;
}

.swiper-pagination-bullet {
   width: 0.75rem;
   height: 0.75rem;
}

.swiper-pagination-bullet-active {
   background: var(--primary-color);
}

/* contact styles */

.contact__text header {
   padding-right: 3.875rem;
   margin-bottom: 1rem;
}

.contact__text p {
   margin-bottom: 2rem;
}

.main__contact .btn i {
   margin-right: 0.625rem;
   font-size: 1.5rem;
}

.contact__links {
   margin-top: 4rem;
}

.contact__links ul {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.contact__links ul li {
   display: flex;
   align-items: center;
}

.contact__links i {
   color: var(--primary-color);
   font-size: 1.5rem;
   margin-right: 0.75rem;
}

/* footer styles */

footer .logo span {
   color: var(--body-color);
}

footer {
   background: var(--primary-color);
}

footer.section {
   padding: 4rem 0;
}

footer .logo {
   display: inline-block;
   margin-bottom: 0.75rem;
}

footer .brand {
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
   color: var(--text-color-light);
}

footer .social {
   margin-top: 2rem;
   display: flex;
   gap: 2rem;
}

footer .social a {
   transition: 0.3s;
}

footer .social a:hover {
   transform: translateY(-8px);
}

footer .social i {
   font-size: 1.5rem;
   color: var(--body-color);
}

/* back to top */

.back-to-top {
   background: var(--primary-color);
   color: var(--text-color-light);
   position: fixed;
   bottom: 1rem;
   right: 1rem;
   padding: 0.8rem;
   font-size: 1.2rem;
   border-radius: 50%;
   line-height: 0;
   opacity: 0;
   visibility: hidden;
   transition: 0.3s ease-in-out;
   transform: translateY(100%);
}

.back-to-top.show {
   visibility: visible;
   opacity: 1;
   transform: translateY(0);
}

/* Media queries */

@media screen and (min-width: 768px) {
   .cards {
      flex-flow: row wrap;
      justify-content: center;
   }

   .services__card {
      max-width: 48%;
   }
}

@media screen and (min-width: 992px) {
   :root {
      --title-font-size: 2.25rem;
      --subtitle-font-size: 1.125rem;
   }

   nav .menu {
      opacity: 1;
      visibility: visible;
      top: 0;
   }

   nav .menu__list {
      display: flex;
      gap: 2rem;
   }

   nav .menu__item a {
      font-weight: 500;
      font-size: 1rem;
   }

   nav .menu__list a::after {
      bottom: -1.7rem;
   }

   .toggle {
      visibility: hidden;
      opacity: 0;
   }
}

@media screen and (min-width: 1200px) {
   /* general */

   .container {
      padding: 0 7.6875rem;
      max-width: 1500px;
      margin-left: auto;
      margin-right: auto;
   }
   main {
      margin-top: var(--header-height);
   }

   .section {
      padding: 10rem 0;
   }

   /* home */

   .main__home {
      text-align: left;
   }

   .main__home .container {
      gap: 7.375rem;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
   }

   .home__img {
      max-width: 800px;
   }

   /* about */

   .main__about .container {
      gap: 4rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
   }

   /* services */

   .services__header {
      max-width: 32.6875rem;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
   }

   .services__card {
      width: 31%;
      padding-left: 3rem;
      padding-right: 3rem;
   }

   /* testimonials */

   .testimonials__header {
      padding: 0;
      text-align: center;
      max-width: 30rem;
      margin: 0 auto;
   }

   /* contact */

   .main__contact .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .contact__text {
      max-width: 25.25rem;
   }

   /* footer */

   footer .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}
